.about_h1 {
  font-Size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.about_p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.bordofdirecter{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}
.directer1 {
  margin-left: auto;
  margin-right: auto;
}

.directer1 h5{
  text-align: center;
  margin-left: -90px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.directer2 h5{
  margin-left: -90px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.Philosophy{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.Philosophy h1{
  text-align: center;
}
.Philosophy p{
  text-align: center;

}
.Message {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}
.button{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {

  .directer2 {
    margin-left: auto;
    margin-right: auto;
  }

    .about_h1 h1{
        font-size: 20px;
        
    }

    .about_p p{
      font-size: 14px;
      text-align: justify;
    }

    .directer1 h5{
      margin-left: 0px;
      font-size: 16px;
    }
    .directer2 h5{
      margin-left: 0px;
      font-size: 16px;
    }
    .Philosophy{
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .Philosophy h1{
      font-size: 24px;
      text-align: center;
    }
    .Philosophy p{
      font-size: 12px;
      text-align: center;
     
    }
    .button{
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
}