.service_header {
  margin-top: 200px;
  /* background-color: rgb(27, 26, 26); */
  background-image: url('./back.jpg');
  padding-top: 60px;
  backdrop-filter: blur(20px);
  height: auto;
  
}
.service_Header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.course-card img {
  width: 100%;
  height: auto;
}
.course__title {
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
.para {
  margin-left: 100px;
  color: white;
}
.para2 {
  margin-left: 160px;
  color: white;
}

.service_Header h1 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  margin-top: 0px;
}
.service_Header p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}


.cards_col_3 {
  margin-bottom: -10px;
  color:  rgb(224, 217, 217);
}

.Our_filters {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.Cards_image {
  margin-left: auto;
  margin-right: auto;
}

.price p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 55px;
  color: rgb(255, 255, 255);
}

@media (max-width: 576px) {
  .service_header {
    margin-top: 100px;
    padding-top: 100px;
  }
  .Our_filters {
    margin-bottom: 0px;
  }
  .course__title {
    font-size: 12px;
   
  }
  .service_Header h1 {
    font-size: 25px;
    margin-top: -60px;
  }
  .price p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin-left: 25px;
  }
  .service_Header p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
  }
  .course-card img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    height: auto;
  }
  .para {
    margin-left: 40px;
  }
  .para2 {
    margin-left: 100px;
  }
  .course__details {
    margin-bottom: 20px;
  }
}
