.single__course__item {
  padding: 15px;
}

.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.course__img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
}

.course__top__left h2 {
  font-weight: 600;
  font-size: 50px;
  margin-top: 40px;
  margin-left: 60px;
}

.course__top__left p {
  margin-left: 60px;
}

.btn {
  margin-right: 40px;
}
.ri-book-open-line , .ri-star-fill{
  margin-left: 10px;
}

.students , .enroll {
  margin-right: 40px;
}