.Store_Nav_Bar h3 {
  text-align: center;
  font-size: 20px;
}
.store_main {
  background-color: #f8f8f8;
  margin-top: 40px;
}
.store_header {
  padding: 50px;
  text-align: start;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.black-text {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
  color: #1354a4;
}
.Store_Nav_Bar {
  margin-left: 0px;
  margin-left: 0px;
  padding: 0px;
}

.store_header h2 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
  color: grey;
}
.nav-bar-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.nav-bar-container {
  margin-top: 20px;
  margin-bottom: 90px;
}

/* Styles for individual navigation items */
.Store_Nav_Bar .centered1 img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.small-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.slideshow-container-store img {
  width: 1600px;
  height: 300px;
}

.form-field2 {
  margin-right: auto;
}

/* Styling the checkbox */
input[type="checkbox"] {
  width: 40px; /* Adjust the size of the checkbox */
  height: 40px; /* Adjust the size of the checkbox */
  margin-left: 10px;
}

.small-image.active {
  border: 2px solid blue;
}
.store_hedder_container {
  border: 2px solid rgba(0, 1, 2, 0.395);
  height: 120px;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 0px;
  margin-top: -60px;
  background-color: rgb(255, 255, 255);
  box-shadow: #1c67b5;
}

.store_hedder_container h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-family: "LEXEND", sans-serif;
  color: rgb(0, 0, 0);
}

.addSpace {
  margin-top: 360px;
}

.product-container:hover::before {
  border-radius: 20px;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(1, 0, 2, 0.2); /* Add box shadow */
}
.Store_Header {
  margin-bottom: 50px;
}

.Store_Header img {
  margin-bottom: 20px;
  width: 2240px;
  height: 400px;
}

.Store_Nav_Bar {
  margin-left: auto;
  margin-right: auto;
}
.Store_product_List {
  margin-left: auto;
  margin-right: auto;
}

.button-icon {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid whitesmoke;
  border-radius: 30px;
}
.centered1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.centered1 h3 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000000;
}
.centered1 img {
  width: 66px;
  height: auto;
}

.button-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Product List */

.product-container {
  width: 95%;
  height: 55vh;
  padding: 10px;
  border: 1px solid rgb(224, 221, 230);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.product-container img{
  width: auto;
  margin-top: 0px;
  height: 200px;
}
.first-product {
  background-color: #1354a4;
  backdrop-filter: blur(8px); /* Adjust the blur value as desired */
  opacity: 0.9;
  /* Add any other styles you want for the first product container */
}
.first-product h5 {
  color: white;
  /* Add any other styles you want for the first product container */
}
.first-product p {
  color: white;
  /* Add any other styles you want for the first product container */
}

.product-title {
  margin-bottom: 10px;
  margin: 20px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 25;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: start;
  color: #000000;
}

.product-brand {
  font-weight: bold;
}

.product-price {
  margin-bottom: 10px;
  margin: 20px;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: start;
  line-height: 1.3;
  color: #000000;
}

.product-image {
  max-width: 240px;
  max-height: 240px;
  height: auto;
  margin-top: 20px;
}
.image_store_contact {
  width: 30px;
}
.image-h6-container {
  display: flex;
  align-items: center;
}
.image-h6-container h6 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000000;
}

.storeLink {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 50px;
}

.storeLink a {
  color: #1354a4;
}
.no-text-decoration {
  text-decoration: none;
}

.product-container:hover {
  transform: scale(1.02);
  border-radius: none;
  cursor: pointer;
}

.Products p {
  font-size: 16px;
  margin-left: 25%;
}

/* Popup Window */
.model_contact {
  margin: auto;
  margin-right: 0px;
}
.model_contact h1 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
  color: #1354a4;
}
.model_contact img {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.model_contact h5 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 30px;
  line-height: 1.5;
}
.modal_content_h1 h1 {
  color: #1354a4 !important;
  text-align: center;
  display: block;
  font-size: 20px;
}
.Model_Form {
  margin: auto;
}
.Model_Form h2 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1354a4;
  margin-bottom: 10;
  line-height: 1.5;
  margin-top: 20px;
}
.model_checkbox h6 {
  font-family: "Poppins", sans-serif;
  align-items: start;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  text-align: start;
}
.model_image {
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  transition: transform 0.3s;
}

.model_image:hover {
  transform: scale(1.1);
}

.model_Small_List {
  border: 1px solid rgb(186, 208, 216);
  margin-top: 50px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.model_Small_List img{
  width: auto;
  height: 60px;
  margin-left: -10px;
}
.model_image_small {
  max-width: 100%;
  padding: 5px;
}
.model_Small_List:hover {
  transform: scale(1.2);
  border-radius: none;
  cursor: pointer;
}

.modal-content {
  /* border: 1px solid #ccc; */
  padding: 20px;
}

.modal-content h3 {
  margin-top: 20px;
}

.modal-content h4 {
  margin-top: 20px;
}

.form_col {
  margin-left: 200px;
}

.modal-content2 h5 {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 40px;
  width: 800px;
  margin-left: 70px;
}

.justify-text {
  text-align: justify;
}
.model_about h3 {
  margin-bottom: -50px;
}

.modal-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.model_smallImageList {
  margin-left: auto;
  margin-right: auto;
}
.product_details {
  margin-top: 20px;
  border: 1px solid rgb(186, 208, 216);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: -80px;
  background-color: rgb(252, 253, 253);
}

.product_details h6 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(255, 0, 0);
  margin: 20px;
}
.product_details h4 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  line-height: 1;
}
.contact-form-model {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.form-field-model {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-field-model label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-field-model input,
.form-field-model textarea {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fcf9f9;
}

.form-field-model textarea {
  height: 150px; /* Adjust the height as desired */
}
.topimage2 {
  display: none;
}



@media screen and (max-width: 1000px) {

  .product-container {
    width: 95%;
    height: 40vh;
    padding: 0px;
    border: 1px solid rgb(224, 221, 230);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .first-product {
    background-color: #1354a4;
    backdrop-filter: blur(8px); /* Adjust the blur value as desired */
    opacity: 0.9;
    /* Add any other styles you want for the first product container */
  }
  
  .black-text {
    font-family: "Poppins", sans-serif;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline;
    color: #1354a4;
  }
  .Store_Nav_Bar {
    margin-left: 0px;
    padding-left: 20px;
    margin-right: auto;
  }

  .store_header h2 {
    color: gray;
    font-size: 16px;
    margin-left: 0px;
    line-height: 1;
    text-align: end;
  }

  .image-h6-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .image-h6-container h6 {
    margin-left: 10px;
    margin-top: 5px;
    color: gray;
     font-weight: 600;
    font-size: 16px;
  }
  .centered1 img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .centered1 h3 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
  }

  .product-image {
    max-width: 150px;
    height: auto;
    margin-top: 40px;
  }
  .model_Small_List img{
    width: auto;
    height: 60px;
    margin-left: -10px;
  }

}

@media screen and (max-width: 800px) {
  .Store_Nav_Bar h3 {
    text-align: center;
    font-size: 8px;
  }
  .Store_ Header img {
    height: 150px;
    margin-bottom: -100px;
    width: auto;
  }
  .store_header {
    padding: 0px;
    text-align: start;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .black-text {
    font-family: "Poppins", sans-serif;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline;
    color: #1354a4;
  }
  .Store_Nav_Bar {
    margin-left: 0px;
    padding-left: 20px;
    margin-right: auto;
  }

  .store_header h2 {
    color: rgb(0, 0, 0);
    font-size: 10px;
    margin-left: 0px;
    line-height: 1;
    text-align: end;
  }
  .image-h6-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .image-h6-container h6 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 8px;
    color: #000000;
  }
  .storeLink {
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: 40px;
    font-size: 8px;
  }
  .nav-bar-container {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .product-price {
    font-size: 12px;
  }

  /* Styles for individual navigation items */

  .store_main {
    padding-top: 30px;
    margin-top: 0px;
  }
  .topimage2 {
    display: block;
  }

  .product-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
  }
  .product_details {
    margin-top: 20px;
    border: 1px solid rgb(186, 208, 216);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: -60px;
  }

  .product_details h6 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 0, 0);
    margin-bottom: 20px;
    margin: 20px;
  }
  .product_details h4 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .product-image {
    max-width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .button-icon {
    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-left: 20px;
    margin-right: auto;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    transition: transform 0.3s, margin-bottom 0.3s; /* Add transition for smooth scaling and movement */
    cursor: pointer;

    /* Add the following styles to adjust the position when clicked */
    position: relative;
    z-index: 1;
  }

  .button-icon:hover {
    transform: scale(1.1);
    cursor: pointer;

    /* Add the following styles to move the h5 element down */
    margin-bottom: 10px;
  }

  .image-text-wrapper:hover h5 {
    margin-bottom: 15px; /* Increase the margin-bottom to move the h5 element down */
  }

  .modal-content {
    /* border: 1px solid #aa1e1e; */
    padding: 0px;
  }

  .justify-text {
    text-align: justify;
  }

  .modal-content h5 {
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 40px;
    width: 300px;
    margin-left: 0px;
    font-size: 14px;
  }

  .modal_content_h1 h1 {
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 25px;
    color: #1354a4;
    font-size: 20px;
  }

  .form_col {
    margin-left: 0px;
  }
  .addSpace {
    margin-top: 0px;
  }
  .product-container {
    height: auto;
  }

  .product_main {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Store_product_List {
    margin-top: -10px;
  }

  .centered1 img {
    width: 30px;
    height: 30px;
    
  }
  .centered1 h3 {
    font-size: 6px;
    color: #000000;
    font-weight: 600;
  }
  .Store_Nav_Bar .centered1 img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .model_Small_List {
    border: 1px solid rgb(186, 208, 216);
    height: 60px;
    margin-top: 50px;
    margin: 10px;
    border-radius: 5px;
  }
  .model_Small_List img{
    width: 40px;
    height: 50px;
    margin-left: 0px;
    margin-top: -18px;
  }

  .model_image_small {
    max-width: 100%;
    height: 100px;
    align-items: center;
    padding: 5px;
    margin-top: -15px;
  }

  .model_image {
   max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    transition: transform 0.3s;
  }
  

  .model_contact img {
    max-width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    
  }



  .contact-form-model {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  
  .form-field-model {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .form-field-model label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-field-model input,
  .form-field-model textarea {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fcf9f9;
  }
  
  .form-field-model textarea {
    height: 150px; /* Adjust the height as desired */
  }
}
