.blog_container {
  border: 1px solid #ccc; /* Adjust the border styles as needed */
  margin: 100px;
  border-radius: 20px;
  /* Adjust the padding as needed */
}

.blog_header {
  margin: auto;
}
p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
  font-size: 20px;
  
}

.blog_header img {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust the margin as needed */
  margin-bottom: 20px;
}
.button_container2 {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust the margin as needed */
  margin-bottom: 20px;
}


.blog_header p {
  font-size: 20px;
  text-align: justify;
  color: #5c5c5c;
  padding-right: 20px;
}
.blog_header h6 {
  text-align: center;
  font-size: 40px;
  color:  #1C67B5 !important;;
  margin-top: 20px;
  margin-bottom: 20px;
}
.keyword_link {
  text-decoration: none;
}
.Blog_Footer {
  margin-top: 200px;
}




/* blog post one by one */
.BlogPost1_header{
  margin-left: auto;
  margin-right: auto;
}

.BlogPost1_header h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  color: #c7bcbc;
}
.blog1Image{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.blog1Para{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.blog1Para p{
  text-align: justify;
}
.BlogPost1headerimg {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 100%;
}
.blogParaImg{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.blogParaImage {
  max-width: 100%;
}
.blogParaText {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* .blogParaText p{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
 
} */

@media screen and (max-width: 1000px) {
  .blog_header img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .blog_header h6 {
    font-size: 12px;
    margin-top: 20px;
  }
  .blog_header p {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
  }
  .blog_header Button {
    margin-top: 0px;
    width: 70px;
    height: auto;
    font-size: 8px;
    margin-bottom: 0px;
  }
  .button_container2 {
    display: flex;
    justify-content: center;
    margin-top: 16px; /* Adjust the margin as needed */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog1Buttons{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 575px) {
  .blog_container {
    border: 1px solid #ccc; /* Adjust the border styles as needed */
    margin: 20px;
    margin-left: 20px;
    border-radius: 20px;
    /* Adjust the padding as needed */
  }

  .blog_header img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .blog_header h6 {
    font-size: 12px;
    margin-top: 0px;
  }
  .blog_header p {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
  }
  .blog_header Button {
    margin-top: 0px;
    width: 70px;
    height: auto;
    font-size: 8px;
    margin-bottom: 0px;
  }

  .BlogPost1_header h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    color: #c7bcbc;
  }
  .blog1Para p{
    text-align: justify;
    font-size: 12px;
    line-height: 1.2;
  }
  .blogParaText p{
    text-align: justify;
    font-size: 12px;
    line-height: 1.2;
  }
  .blog1Image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .blog1Para{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .button_container{
    margin-left: auto;
    margin-right: auto;
   
  }

  .button_container Button{
    display: flex;
    justify-content: center;
    margin-top: 16px; /* Adjust the margin as needed */
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
  .blog1Buttons{
    margin-left: auto;
    margin-right: auto;
  }

  .blogParaImg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-right: 40px;
  }
  
  .blogParaImage {
    max-width: 100%;
  }
  .blogParaText {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}
