.image-changer-container {
  height: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  max-width: 100%;
}
.image-changer-container img {
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  max-width: 100%;
}

.background-row {
  position: relative;
  margin-bottom: 100px;
}

.banner_text h1 {
  text-align: start;
  margin-top: -500px;
  height: 400px;
  position: relative;
  font-size: 50px;
  padding: 20px;
  width: 480px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 200px;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 100px;
}

.zoom-image {
  animation: zoomEffect 5s ease-in-out infinite;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1.5);
  }
}

@media (max-width: 1000px) {
  .image-changer-container {
    height: auto;
    overflow: hidden;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  .image-changer-container img {
    margin-top: 20px;
    height: 500px;
  }

  
  .banner_text h1 {
    text-align: start;
    margin-top: -350px;
    height: 400px;
    position: relative;
    font-size: 40px;
    padding: 0px;
    width: 300px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin-bottom: -50px;
  }
}



@media (max-width: 600px) {
  .image-changer-container img {
    height: 200px;
  }
  .banner_text h1 {
    text-align: start;
    margin-top: -130px;
    height: 400px;
    position: relative;
    font-size: 20px;
    padding: 0px;
    width: 150px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin-bottom: -160px;
  }
}
