.contact-page {
  position: relative;
}

.contact-header {
  background-image: url(../../assests/images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.contact-details {
  margin-top: 0px;
  padding: 50px;
  text-align: center;
}

.contact-details h1 {
  margin-bottom: 20px;
}

.contact-email {
  margin-top: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-email h2 {
  margin-bottom: 20px;
}

.contact-email p {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-field textarea {
  height: 150px; /* Adjust the height as desired */
}

.error-message {
  color: red;
  margin-top: 10px;
}

button[type='submit'] {
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #23527c;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .contact-details {
    padding: 20px;
  }

  /* .contact-form {
    max-width: 100%;
  } */

  .contact-header {
    height: 400px;
  }

  .contact-header h1 {
    font-size: 24px;
  }

  /* .contact-email {
    max-width: 100%;
  } */

  /* .form-field input,
  .form-field textarea {
    width: 100%;
  } */

  button[type='submit'] {
    width: 100%;
  }
}
