.banner-container img {
  width: 100%;
  height: auto;
}

.banner-container h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

.GetIn_Touch h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}
.black-text-contact {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
  color: #1354a4;
}

.Contact_Cards {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.card_main1 {
  width: "100%";
  height: 460px;
  border-radius: 20px;
}
.card_main2 {
  width: "100%";
  height: 460px;
  border-radius: 20px;
}
.Contact_main {
  margin-top: 100px;
}

.contact_h2 {
  font-family: "Poppins", sans-serif;
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}
.contact_h4 {
  font-family: "Poppins", sans-serif;
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}

.contsct_para h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1354a4;
}
.contsct_para {
  margin: auto;
}
.contsct_para p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000000;
}

.centered {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  resize: none;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 100px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.contact-header h1:first-child {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
  margin-left: 100px;
}

.contact-header h1:last-child {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
  text-align: start;
  margin-left: 100px;
}
.contact-page {
  text-align: center;
  padding: 20px;
}

.contact-header {
  margin-bottom: 20px;
}

.contact-details {
  text-align: center;
  padding: 20px;
}

.contact-email {
  text-align: center;
  padding: 20px;
}

.contact-form .form-field {
  margin-bottom: 15px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Get In touch */

.contact-details {
  margin-top: 0px;
  padding: 50px;
  text-align: center;
}

.contact-details h1 {
  margin-bottom: 40px;
}

.contact-email {
  margin-top: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-email h2 {
  margin-bottom: 20px;
}

.contact-email p {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-field textarea {
  height: 150px; /* Adjust the height as desired */
}

.error-message {
  color: red;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


/* Media queries for mobile responsiveness */
@media screen and (max-width: 1000px) {
  .card_main1 {
    width: "100%";
    height: 400px;
    margin-bottom: 40px;
  }

  .card_main2 {
    width: "100%";
    height: 400px;
    margin-bottom: -30px;
  }

  .contsct_para h1 {
    margin-top: 80px;
    text-align: center;
    margin-left: -100px;
  }

  .contsct_para p {
    margin-left: -60px;
    font-size: 20px;
  }
  .contact-form {
    max-width: 600px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-field label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .form-field input,
  .form-field textarea {
    width: 550px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .form-field textarea {
    height: 150px; /* Adjust the height as desired */
  }
}

@media screen and (max-width: 768px) {
  .contact-details {
    padding: 20px;
  }
  .Contact_us h1 {
    margin-top: 40px;
  }
  .GetIn_Touch h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
  .banner-container img {
    width: 100%;
    height: auto;
  }

  .banner-container h1 {
    font-size: 20px;
  }

  .centered {
    margin-bottom: 50px;
  }

  .contact-form {
    margin-left: auto;
    margin-right: auto;
  }

  .contact_sinhala p {
    font-size: 14px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-field label {
    font-size: 10px;
  }

  .form-field input,
  .form-field textarea {
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .form-field textarea {
    height: 150px; /* Adjust the height as desired */
  }

  .contact-details h1 {
    font-size: 20px;
  }

  /* .contact-form {
    max-width: 100%;
  } */

  .contact-header {
    height: 400px;
  }

  .contact-header h1 {
    font-size: 24px;
  }

  /* .contact-email {
    max-width: 100%;
  } */

  /* .form-field input,
  .form-field textarea {
    width: 100%;
  } */

  button[type="submit"] {
    width: 80%;
  }
  .contact-header h1:first-child {
    color: #ffffff;
    font-size: 40px;
    margin-left: 140px;
  }

  .contact-header h1:last-child {
    display: none;
  }

  .card_main1 {
    width: "100%";
    height: 330px;
    margin-bottom: 40px;
  }

  .card_main2 {
    width: "100%";
    height: 300px;
    margin-bottom: -30px;
  }

  .contact-email h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
  }

  .contact-email p {
    font-size: 14px;
    text-align: justify;
  }
}

@media screen and (max-width: 576px) {
  .card_main1 {
    width: "80%";
    height: auto;
    margin-top: -30px;
    margin-bottom: 40px;
  }

  .card_main2 {
    width: "80%";
    height: auto;
    margin-bottom: -30px;
  }

  .GetIn_Touch h1 {
    font-size: 20px;
  }
  .black-text-contact {
    font-size: 20px;
  }

  .contact_h2 {
    font-size: 14px;
  }
  .contact_h4 {
    font-size: 14px;
  }

  .contsct_para h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 0px;
  }
  .contsct_para {
    margin: auto;
  }
  .contsct_para p {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 565px) {
  .card_main1 {
    width: "80%";
    height: 350px;
    margin-bottom: 0px;
  }

  .card_main2 {
    width: "80%";
    height: 340px;
    margin-bottom: 20px;
  }
  .Contact_us h1 {
    margin-top: 40px;
  }

  .contact-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .centered {
    margin-bottom: 200px;
  }
  .banner-container img{
    margin-top: 20px;
  }
}
