.cards_background{
  margin-top: 0px;
  background-color: #f8f8f8;
  margin-bottom: -50px;
  padding-bottom: 60px;
  margin-top: 0px;
}
.cards__item {
  display: flex;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.cards_header{
  margin-left: auto;
  margin-right: auto;
}

.cards_header h1{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: rgb(30, 74, 218);
  font-size: 50px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
.cards_col_1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

}
.cards_col_2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.cards__item__pic-wrap {
  position: relative;

  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
  
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  padding: 6px 8px;
  max-width: calc(100% - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  filter: brightness(100%);
}

.cards__item:hover .cards__item__img {
  filter: brightness(40%);
}

.cards__item__info {
  position: absolute;
  bottom: -100%;
  left: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 30px 30px;
  transition: bottom 1s ease;
}

.cards__item:hover .cards__item__info {
  bottom: 0;
}

.cards__item__text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.black-text3 {
  font-size: 50px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  display: inline;
  color: black;
}

@media screen and (max-width: 960px) {
  .cards__item__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cards__item {
    margin-bottom: 2rem;
    width: 350px;
    margin-left: -15px;
  }

  .cards__item__text {
    font-size: 12px;
  }
  .cards_col_1 {
    margin-left: 45px;
    margin-top: -10px;

  }
  .cards_col_2 {
    margin-top: -20px;
  }
  .cards__item__info {
    bottom: -10px; /* Adjust the position for mobile screens */
    /* transition: none; Disable the transition on mobile screens */
  }
  .cards_header h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 25px;
  }
  .space{
    margin-top: 20px;
  }

  .cards_background{
    margin-top: 0px;
    background-color: #f8f8f8;
    margin-bottom: -60px;
    padding-bottom: 0px;
  }
  .black-text3 {
    font-size: 25px;
    
  }
}
