.navbar {
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
}
.nav-links.active {
  color: #0dcaf0;
  border-bottom: 4px solid #0dcaf0;
}
/* Rest of your CSS code */

.navbar-container {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
  display: flex;
  height: 100px;
}

.navbar-logo img {
  height: auto;
  width: 80px;
  margin-left: 60px;
  margin-top: 8px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 12px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 60px;
  margin-bottom: 0px;
}

.nav-item {
  height: 60px;
  margin-top: 0px;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  height: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 5px;
}
.nav-links_contact {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  height: 100%;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav-links:hover {
  color: #0dcaf0;
}
.nav-links_contact:hover {
  color: white;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.contact-box {
  background: linear-gradient(
    to right,
    #1354a4,
    #0dcaf0
  ); /* Replace with desired background color */
  border-radius: 100px; /* Adjust the value as needed */
  padding: 0px; /* Adjust the value as needed */
  margin-top: 15px;
  height: 40px;
  margin-left: 15px;
}
.contact-box:hover {
  background: linear-gradient(
    to right,
    #0dcaf0,
    #1354a4
  ); /* Replace with desired background color */
}

@media screen and (max-width: 960px) {
  .navbar-logo {
    color: black;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-left: 0px;
    font-family: serif;
    margin-top: 20px;
    margin-right: auto;
  }
  .navbar-logo img{
    margin-left: 20px;
    
  }
  

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-left: 0px;
  }
  .menu-icon {
    margin-top: -7px;
    margin-right: 30px;
  }

  .nav-item {
    margin-bottom: 10px;
    margin-right: 30px;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    z-index: 1;
    padding-bottom: 40px;
    margin-top: 40px;
    height: 450px;
    width: 90%;
    margin-left: 40px;
    border-radius: 20px;
  }
  .nav-links {
    text-align: center;
    font-size: 18px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000000;
    font-size: 2rem;
   
  }

  .fa-bars {
    color: black;
    margin-top: 15px;
  }
  
  .fa-times {
    color: #000000;
    font-size: 2rem;
  
    margin-top: 15px;
  }

  .nav-links-mobile:hover {
    transition: 250ms;
  }
  .contact-box {
    width: 170px;
    background: linear-gradient(
      to right,
      #1354a4,
      #0dcaf0
    ); /* Replace with desired background color */
    border-radius: 100px; /* Adjust the value as needed */
    padding: 0px; /* Adjust the value as needed */
    margin-top: 15px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-links.active {
    color: #0dcaf0;
    border-bottom: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    overflow: hidden;
  }
  .menu-icon {
    margin-top: 1px;
    margin-right: 20px;
    margin-top: 15px;
  }
  .fa-bars {
    color: black;
    margin-top: 0px;
    margin-left: -20px;
  }
  .fa-times {
    color: #000000;
    font-size: 2rem;
    margin-left: -20px;
    margin-top: 0px;
  }


  .nav-menu.active {
    position: fixed;
 
  z-index: 1;
  background: rgba(240, 238, 235, 0.9);
  backdrop-filter: blur(10px);
  padding-bottom: 40px;
  margin-top: 40px;
  height: 500px;
  width: 90%;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .contact-box {
    margin-top: 
    0px;
  }
  .navbar-logo h6 {
    font-size: 12px;
  }
  .nav-links {
    margin-top: -50px;
  }

  .nav-item {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .navbar-logo {
    color: black;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-left: 0px;
    font-family: serif;
    margin-top: 20px;
    margin-right: auto;
  }
  .navbar-logo img{
    margin-left: 20px;
    width: 60px;
    
  }

}
