.main-ssk h5 {
  font-family: "Poppins", sans-serif;
  color: black;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

.main-ssk h6 {
  font-family: "Poppins", sans-serif;
  color: black;
  align-items: start;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}
.privacyLink {
  text-decoration: none;
}

.secound_col h5 {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

.secound_col h6 {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 12px;
  height: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.footer {
  background-color: #f8f8f8;
}

.footer_image {
  width: 150px;
  margin-top: -20px;
  margin-left: 40px; /* Set the desired width */
}

.follows {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.follows h5 {
  font-family: "Poppins", sans-serif;
  color: black;
  align-items: start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.follows span a {
  text-decoration: none;
  text-align: center;
}

.follows span {
  margin-right: 25px;
  text-align: center;
}

.follows span a i {
  color: black;
  font-size: 1.5em;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 0.3s ease;
}

@media (max-width: 1000px) {
  .main-ssk {
    margin-bottom: 50px;
  }
  .follows {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer {
    background-color: #f8f8f8;
    margin-top: -400px;
  }
  .main-ssk {
    margin-top: -80px;
    margin-bottom: 10px;
  }
  .text-center {
    margin-top: -80px;
  }

  .main-ssk h6 {
    color: black;
    font-size: 8px;
    width: 100%;
    text-align: center;
  }

  .main-ssk h5 {
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
  }

  .footer_image {
    width: 150px; /* Set the desired width */
    height: auto;
    margin-top: 20px;
    margin-left: 10px; /* Let the height adjust proportionally */
    /* Add any additional styles you want for the image */
  }
  .secound_col h6 {
    line-height: 1.5;
    color: black;
    font-size: 8px;
    text-align: center;
  }

  .follows {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .secound_col h5 {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
  }

  .follows span a {
    font-size: 1em;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 20px;
  }

  .footer {
    margin-top: -100px;
  }

  .footer-content {
    font-size: 8px;
  }

  .follows h5 {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  }

  .follows span a i {
    color: black;
    font-size: 1.5em;
    border: none;
    width: 10px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    margin-top: 10px;
    text-align: center;
  }
}
