.testimonial__content h2 {
  font-weight: 600;
  margin-left: 100px;
}
.testimonial__img {
  margin-right: 10px;
  width: 600px;
  margin-top: -80px;
}
.testimonial__content {
  margin-left: 200px;
}
.single__testimonial {
  margin-left: 100px;
}
.single__testimonial p{
  text-align: justify;
  color: #464545;
  letter-spacing: 0.8px;
  line-height: 28px;
  font-size: 16px;
  font-family: "LEXEND", sans-serif;
}
.black-text4 {
  font-size: 40px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: "LEXEND", sans-serif;
  display: inline;
  color:rgb(30, 74, 218);
}

.customer_header {
  margin-left: 100px;
}
.Customer_voice {
  margin-top: 100px;
  margin-bottom: 200px;
}
.Voice_header {
  margin: auto;
}
.voice_text h2 {
  font-size: 40px;
  line-height: 1.08349;
  font-weight: 600;
  font-family: "LEXEND", sans-serif;
  color:grey;
  margin-left: 90px;
}
.voice_text {
  margin: auto;
  color:  #1C67B5 !important;;
}

@media screen and (max-width: 1200px) {
  .testimonial__img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .single__testimonial h6 {
    font-size: 14px;
    margin-top: 20px;
  }
  .single__testimonial p {
    font-size: 10px;
  }
  .customer_header {
    margin-top: 10px;
  }
}

@media screen and (max-width: 830px) {
  .testimonial__img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider {
    margin-left: -50px;
  }
  .single__testimonial h6 {
    font-size: 14px;
    margin-top: 20px;
  }
  .single__testimonial p {
    font-size: 10px;
  }
  .customer_header {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .testimonial__img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: -10px;
  }
  .voice_text h2 {
    margin-top: 20px;
    margin-left: 20px;
  }
  .slider {
    margin-left: -50px;
  }
  .single__testimonial {
    margin-left: 20px;
  }
  .single__testimonial h6 {
    font-size: 14px;
    margin-top: 20px;
    
  }
  .single__testimonial p {
    font-size: 10px;
    line-height: 2;
  }
  .customer_header {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: auto;
  }
  .voice_text h2 {
    font-size: 30px;
  }
  .Customer_voice{
    margin-top: 150px;
  }
  .black-text4 {
    font-size: 30px;
    
  }
}
