.testimonial__img {
  margin-right: 10px;
  width: 600px;
  margin-top: -80px;
}
.testimonial__content {
  margin-left: 200px;
}
.single__testimonial {
  margin-left: 100px;
}
.single__testimonial h6 {
  margin-top: 20px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}
.single__testimonial p {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #464545;
}
.black-text4 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
  color: #1354a4;
}

.customer_header {
  margin-left: 100px;
}
.Customer_voice {
  margin-top: 100px;
  margin-bottom: 200px;
}
.Voice_header {
  margin: auto;
}
.voice_text h2 {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  margin-left: 90px;
}
.voice_text {
  margin: auto;
  color: #1c67b5 !important;
}

@media screen and (max-width: 1200px) {
  .testimonial__img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .single__testimonial h6 {
    font-size: 14px;
    margin-top: 20px;
  }
  .single__testimonial p {
    font-size: 12px;
    line-height: 2;
    color: #464545;
  }
  .customer_header {
    margin-top: 10px;
  }
}

@media screen and (max-width: 830px) {
  .testimonial__img {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider {
    margin-left: -50px;
  }
  .single__testimonial {
    margin-left: 40px;
  }
  .single__testimonial h6 {
    font-size: 20px;
    margin-top: 20px;
  }
  .single__testimonial p {
    font-size: 16px;
    line-height: 2;
    color: #464545;
  }
  .customer_header {
    margin-top: 10px;
  }
  .voice_text h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .testimonial__img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: -10px;
  }
  .black-text4 {
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
  }
  .voice_text h2 {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
  }
  .slider {
    margin-left: 0px;
  }
  .single__testimonial {
    margin-left: 20px;
  }
  .single__testimonial h6 {
    font-size: 12px;
    margin-top: 10px;
  }
  .single__testimonial p {
    font-size: 12px;
    line-height: 1.8;
    color: #464545;
  }
  .customer_header {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: auto;
  }

  .Customer_voice {
    margin-top: 150px;
  }
}
