video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  background-image: url('../../assests/images/banner.jpg');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.hero-container > h1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 1.2;
  font-family: serif;
  margin-left: 30px;
}

/* Style the subheading */
.hero-container > p {
  color: #fff;
  margin-top: 8px; 
  font-size: 40px;
  font-family: serif;
  margin-left: 30px;
}

/* Style the button container */
.hero-btns1 {
  text-decoration: none;
  color: #fff;
  
}

/* Style the buttons */
.hero-btns .btns {
  margin: 6px;
  color: #fff;
  text-decoration: none;
  background-color: #42b2df;
  /* padding: 16px 32px; */
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add hover effect to buttons */
.hero-btns .btns:hover {
  background-color: #2e9b77;
  color: red;
  
}

/* Style the play icon */
.fa-play-circle {
  margin-left: 4px;
  font-size: 24px;
}

.hero-btns {
  margin-left: 30px;
  margin-top: 50px;
}


@media screen and (max-width: 960px) {
  .hero-container {
    background-image: url('../../assests/images/banner.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
  }

  .hero-container > h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
    font-family: serif;
    margin-left: 5px;;
  
  }
  
  /* Style the subheading */
  .hero-container > p {
    color: #fff;
    font-size: 20px;
    font-family: serif;
    margin-top: -15px;
    margin-left: 5px;;
  }
  .hero-btns {
    margin-left: 5px;
    margin-top: -10px;
  }
  .hero-btns .btns {
    margin: 6px;
    color: #fff;
    text-decoration: none;
    background-color: #42b2df;
    /* padding: 16px 32px; */
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fa-play-circle {
    margin-left: 4px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    background-image: url('../../assests/images/banner.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
  }
  .hero-container > h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
    font-family: serif;
    margin-left: 5px;;
  
  }
  .hero-btns .btns {
    margin: 6px;
    color: #fff;
    text-decoration: none;
    background-color: #42b2df;
    /* padding: 16px 32px; */
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Style the subheading */
  .hero-container > p {
    color: #fff;
    font-size: 20px;
    font-family: serif;
    margin-top: -15px;
    margin-left: 5px;;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .hero-btns {
    margin-left: 5px;
    margin-top: -10px;
  }
  .fa-play-circle {
    margin-left: 4px;
    font-size: 8px;
  }
}

@media screen and (max-width: 480px){
  .hero-container {
    background-image: url('../../assests/images/banner.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 1;
  }

  .hero-container > h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    font-family: serif;
    margin-left: 5px;;
  
  }
  
  /* Style the subheading */
  .hero-container > p {
    color: #fff;
    font-size: 15px;
    font-family: serif;
    margin-top: -15px;
    margin-left: 5px;;
  }

  .hero-btns {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    margin-top: -10px;
    
    
  }
  
  
  /* Style the buttons */
  .hero-btns .btns {
    margin: 6px;
    color: #fff;
    text-decoration: none;
    background-color: #42b2df;
    /* padding: 16px 32px; */
    font-size: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Add hover effect to buttons */
  .hero-btns .btns:hover {
    background-color: #2e9b77;
    color: red;
    
  }
  .fa-play-circle {
    margin-left: 4px;
    font-size: 8px;
  }
  .hero-btns {
    margin-left: 5px;
    margin-top: -25px;
  }
}